# Data (solo el archivo grande)
data/trustpilot-reviews-123k.csv

# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/
*.egg-info/
dist/
build/

# Entornos virtuales
venv/
.env

# OS
.DS_Store
Thumbs.db
